@tailwind base;
@tailwind components;
@tailwind utilities;


.container-custom {
    max-width: 1440px;
    margin: 0 auto;
}


body{
    z-index: 10;
    position: relative;
}
body.dark {
    background-color: black;
}



